/*
 *= require jquery-ui
 *= require tether
 *= require rails_bootstrap_forms
 *= require select2
 *= require select2-bootstrap
 *
 *= require_self
*/

@import 'bootstrap';
@import 'bootstrap-errors';
@import 'pagination';
@import 'select2-custom';

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

html, body, .container {
  height: 100%;
}
